body {
    background: #fff url(../img/subtle-pattern.png);
}

#info {
    padding-top: 110px;
}

.page-header {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 940px;
    background: #fff url(../img/subtle-pattern.png);
    margin: 0;
    padding-top: 20px;
}

.page-header .drop-shadow {
    position: fixed;
    z-index: 998;
    top: 90px;
    display: block;
    width: 940px;
    height: 15px;
    background: transparent url(../img/header-drop-shadow.png) 0 0 no-repeat;
    opacity: 0;
}

#info h1 {
    height: 40px;
    padding-right: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #999;
    font-size: 24px;
    font-weight: normal;
}

#info h1 strong {
    font-size: 36px;
    color: #000;
    margin-right: 10px;
}

#info h1 i.icon-refresh.rotating {
    vertical-align: 1px;
    opacity: 0.6;
}

.powered-by {
    position: absolute;
    bottom: 16px;
    right: -8px;
    display: block;
    background: transparent url(https://media.scraperwiki.com/images/powered.png) center center no-repeat;
    overflow: hidden;
    height: 0;
    width: 186px;
    padding-top: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.powered-by:hover {
    background-color: rgba(150,150,150,0.1);
}

.powered-by:active {
    bottom: 15px;
    background-color: rgba(100,100,100,0.1);
}

.lead b {
    color: #59AC00;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}

@keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}

i.icon-refresh.rotating {
    -webkit-animation: rotation 2s infinite linear;
    -moz-animation: rotation 2s infinite linear;
}

.slick-contextmenu input {
    margin-top: 8px;
    margin-right: 3px;
}

#notes {
    padding-bottom: 100px;    
}

#notes .well {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

#notes .well h1 {
    font-size: 30px;
}

#notes .well h2 {
    font-size: 24px;
}

#notes .well h3 {
    font-size: 21px;
}